@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

main {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(3, auto);
	gap: 25px;
	margin-top: 25px;
}

h1 {
	font-size: 40px;
}

main p {
	font-size: 100px;
}

.slide-left,
.slide-right {
	transform: translateX(0px);
	transition: transform 400ms ease-out;
}

.slide-left:hover {
	transform: translateX(-100px);
}

.slide-right:hover {
	transform: translateX(100px);
}
